<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLAUDE_API_KEY</key>
	<string>$(CLAUDE_API_KEY)</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We need access to your weight data to track your progress and provide personalized insights.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need permission to save your weight measurements to help track your progress.</string>
</dict>
</plist>
